<apex:page >
<style>

.odd {
    color:red;
}
.even {
    color:blue;
}
</style>
<c:LABJS_RemoteTK />
<script type="text/javascript">
    function contactCtr($scope) {
        $scope.acounts = [];
        $scope.refreshAcounts = function(newAcount) {
            $scope.acounts.length = 0;
            $scope.acounts = newAcount;
         }
     }
         var cliant = new remotetk.Client();
         cliant.query('select Id,Name from account order by name limit 50',
             function(response) {
                 var e = document.getElementById('acountList');
                 var scope = angular.element(e).scope();
                 scope.$apply(function(){
                     scope.refreshAcounts(response.records);
               })
             },
             function(response){
                 alert('Error');
                 console.log(responese);  
             }
           );
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"/>
<div class="ng-app">
     <div id="acountList" ng-controller="contactCtr" style="width: 50%; float: left;">
         <ul>
             <li id="ac.Id" ng-repeat="ac in acounts" ng-class-even="'even'" ng-class-odd="'odd'">
                 {{ac.Name}}
             </li>
         </ul>
     </div>
     <input type="text" ng-model="testName"/>
    {{testName}}
 </div>

</apex:page>