<apex:page controller="SFDC_ContactSearchTest" action="{!defaultSearch}" sidebar="false" title="一覧">
        <script>
            // タブ遷移時の処理（prm:タブ）
            function changeTab(prm){
                document.getElementById('{!$Component.form.Main.hidTab}').value = prm;
                ContactSearch();
            }
        </script>
        <apex:form id="form">
        <apex:actionFunction name="ContactSearch" action="{!doSearch}" />
        <apex:pageBlock Id="Main" rendered="true">
            <apex:tabPanel switchType="ajax" id="tab_main" value="{!selectedTab}">
                <apex:tab label="Contact" ontabenter="changeTab('Contact');" name="Contact">
                    <apex:commandButton value="submit"/>
                </apex:tab>
                <apex:tab label="Consignment" ontabenter="changeTab('Consignment');" name="Consignment">
                     <apex:commandButton value="submit"/>
                </apex:tab>
            </apex:tabPanel>
            <apex:pageMessages id="messages" />
            <apex:outputpanel >
                <apex:inputText value="{!selectedTab}" id="hidTab" />
                <apex:pageBlock title="検索結果一覧">
                    <apex:pageBlockButtons >
                        <apex:commandButton value="PUSH" action="{!selected}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable border="1" value="{!hogeList}" var="hogeItem" cellpadding="1">
                        <apex:column headerValue="選択" style="{!hogeItem.backgroundColor}">
                               <apex:inputcheckbox value="{!hogeItem.Selected}" id="checkbox" />
                        </apex:column>
                        <apex:column headerValue="{!$ObjectType.Contact.fields.Name.label}" style="{!hogeItem.backgroundColor}">
                               <apex:outputField value="{!hogeItem.DispContact.Name}" />
                        </apex:column>
                     </apex:pageBlockTable>
                </apex:pageBlock>
            </apex:outputpanel>
        </apex:pageBlock>
    </apex:form>
</apex:page>