<apex:page standardController="Account" extensions="standerdtest">
  <apex:form >
    <apex:pageBlock title="My Content" mode="edit">
      <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save"/>
        <apex:commandButton action="{!list}" value="List"/>
         <apex:commandButton action="{!quicksave}" value="quicksave"/>
          <apex:commandButton action="{!edit}" value="edit"/>
           <apex:commandButton action="{!delete}" value="delete"/>
            <apex:commandButton action="{!cancel}" value="cancel"/>
      </apex:pageBlockButtons>
      <apex:pageBlockSection title="My Content Section" columns="2">
        <apex:inputField value="{!account.name}"/>
        <apex:inputField value="{!account.site}"/>
        <apex:inputField value="{!account.type}"/>
        <apex:inputField value="{!account.accountNumber}"/>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>