<apex:page controller="tabTest">
<style>
.header{
    font-weight: bold;
}
</style>
    <apex:form >
    <apex:actionFunction action="{!changeContactData}" name="changeContact" reRender="renderPoint"/>
    <apex:actionFunction action="{!changeOppData}" name="changeOpp" reRender="renderPoint"/>
    <apex:pageblock id="renderPoint">
    <table>
         <tr class="header">
            <td></td>&nbsp;&nbsp;&nbsp;&nbsp;
              <td>最終活動日</td>
              <td>アラート</td>
              <td></td>
              <td></td>
         </tr>
        <tr>
            <td><b>事業所名</b>：<apex:outputField value="{!mainAccount.Id}"/></td>&nbsp;&nbsp;&nbsp;&nbsp;
              <td>2009/08/07</td>
               <td></td>&nbsp;&nbsp;&nbsp;&nbsp;
              <td rowspan="3" class="header">事業所担当SR</td>
              <td rowspan="3" ><textarea></textArea></td>
         </tr>
         <tr>
             <td><b>お客様名</b>　山田　花子</td>&nbsp;&nbsp;&nbsp;&nbsp;
             <td>2009/07/08</td>
              <td></td>
         </tr>
         <tr>
             <td><b>TEL番号</b>　03-1234-5678</td>&nbsp;&nbsp;&nbsp;&nbsp;
             <td><b>FAX番号</b>　03-1234-5678</td>
              <td></td>
         </tr>
    </table>
    <apex:tabPanel switchType="client" value="{!selectedTab}">
            <apex:tab name="contact" label="contact" ontabenter="clickContactTab()" >
                    <apex:pageBlockTable var="v" value="{!contactList}">
                            <apex:column headerValue="ID" value="{!v.id}"/>
                            <apex:column headerValue="NAME" value="{!v.Name}"/>
                    </apex:pageBlockTable>
            </apex:tab>
            <apex:tab name="opp" label="opp" ontabenter="clickOppTab()" >  
                    <apex:pageBlockTable var="v" value="{!oppList}">
                        <apex:column headerValue="ID" value="{!v.id}"/>
                        <apex:column headerValue="NAME" value="{!v.Name}"/>
                    </apex:pageBlockTable>
            </apex:tab>
        <apex:tab name="account" label="account">
                <apex:pageBlockTable var="v" value="{!accList}">
                    <apex:column headerValue="ID" value="{!v.id}"/>
                    <apex:column headerValue="NAME" value="{!v.Name}"/>
                </apex:pageBlockTable>
        </apex:tab>
        <apex:tab name="user" label="user">   
                <apex:pageBlockTable var="v" value="{!userList}">
                    <apex:column headerValue="ID" value="{!v.id}"/>
                    <apex:column headerValue="NAME" value="{!v.Name}"/>
                </apex:pageBlockTable>
        </apex:tab>
    </apex:tabPanel>
      </apex:pageblock>
      <apex:pageblock >
       <apex:inputfield value="{!skillItem.EngineerId__c}"/>
       </apex:pageblock>
    </apex:form>
    <script> 
        function clickOppTab() {
            changeOpp();
        }    
        function clickContactTab() {
            changeContact();
        }        
    </script>
</apex:page>