<apex:page >
<div > 
<table>
<tr id="oya">
<div >
<td id="aa">
<input type="text" disabled="disabled"/>
</td>
</div>
</tr>
</table>
</div>
<script
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
 type="text/javascript"></script>
</apex:page>